// ==============================
// Variables
$back-major-dark: #020100;
$back-minor-dark: #252627;
$font-major-dark: #dddedf;
$font-minor-dark: #9d9e9f;
$call-major-dark: #d14d91;
$call-minor-dark: #66c18c;//毛绿

$back-major-light: #fdfeff;
$back-minor-light: #e5e4e3;
$font-major-light: #222120;
$font-minor-light: #626160;
$call-major-light: #d14d91;
$call-minor-light: #66c18c;//毛绿
// ==============================

// ========== Global ========== //
// Prefix for :root CSS variables.
$prefix: fi- !default;

// Font and Line Height
$global-font-family: system-ui, -apple-system, BlinkMacSystemFont, PingFang SC, Microsoft YaHei UI, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, Helvetica, Arial, sans-serif !default;
$global-font-size: 16px !default;
$global-font-weight: 400 !default;
$global-line-height: 1.5rem !default;

// scroll-margin-top of content anchor
$global-scroll-margin-top: 0.5rem;

// Radius of the border
$global-border-radius: 5px !default;

// Color of the background
$global-background-color:      $back-major-light !default; // XXX
$global-background-color-dark: $back-major-dark !default; // XXX

// Color of the text
$global-font-color:      $font-major-light !default; // XXX
$global-font-color-dark: $font-major-dark !default; // XXX

// Color of the secondary text
$global-font-secondary-color:      $font-minor-light !default; // XXX
$global-font-secondary-color-dark: $font-minor-dark !default; // XXX

// Color of the link
$global-link-color:      $font-major-light !default; // XXX
$global-link-color-dark: $font-major-dark !default; // XXX

// Color of the hover link
$global-link-hover-color:      $call-minor-light !default; // XXX
$global-link-hover-color-dark: $call-minor-dark !default; // XXX

// Color of the border
$global-border-color:      $font-minor-light !default; // XXX
$global-border-color-dark: $font-minor-dark !default; // XXX
// ========== Global ========== //

// ========== Scrollbar ========== //
// Color of the scrollbar
$scrollbar-color:      $font-minor-light !default; // XXX
$scrollbar-color-dark: $font-minor-dark !default; // XXX

// Color of the hover scrollbar
$scrollbar-hover-color:      $font-major-light !default; // XXX
$scrollbar-hover-color-dark: $font-major-dark !default; // XXX
// ========== Scrollbar ========== //

// ========== Selection ========== //
// Color of the selected text
$selection-color: rgba(53, 166, 247, 0.25) !default;
$selection-color-dark: rgba(50, 112, 194, 0.4) !default;
// ========== Selection ========== //

// ========== Header ========== //
// Height of the header
$header-height: 3.5rem !default;

// Color of the header background
$header-background-color:      $back-minor-light !default; // XXX
$header-background-color-dark: $back-minor-dark !default; // XXX

// Font style of the header title
$header-title-font-family: $global-font-family !default;
$header-title-font-size: 1.5rem !default;

// Color of the active menu item
$menu-active-color: #161209 !default;
$menu-active-color-dark: #fff !default;

// Color of the search background
$search-background-color: #e9e9e9 !default;
$search-background-color-dark: #363636 !default;
// ========== Header ========== //

// ========== Tag Cloud ========== //
// Color range of tag cloud
$tag-cloud-start: $global-font-secondary-color!default;
$tag-cloud-end: $global-font-color!default;
$tag-cloud-start-dark: $global-font-secondary-color-dark!default;
$tag-cloud-end-dark: $global-font-color-dark!default;
// ========== Tag Cloud ========== //

// ========== Single Content ========== //
// Font size of the TOC
$toc-title-font-size: 1.2rem !default;
$toc-content-font-size: 1rem !default;

// Color of the single link
$single-link-color:      $call-minor-light !default; // XXX
$single-link-color-dark: $call-minor-dark !default; // XXX

// Color of the hover single link
$single-link-hover-color:      $call-major-light !default; // XXX
$single-link-hover-color-dark: $call-major-dark !default; // XXX

// Color of the table background
$table-background-color: #fff !default;
$table-background-color-dark: #272c34 !default;

// Color of the table thead
$table-thead-color: #ededed !default;
$table-thead-color-dark: #20252b !default;

// Color of the blockquote
$blockquote-color: #697681 !default;
$blockquote-color-dark: #9ba3aa !default;

// Color of reward
$reward-color: tomato !default;
$reward-color-dark: darken($reward-color, 5%) !default;

// Width of reward image
$reward-img-width: 180px !default;
// ========== Single Content ========== //

// ========== Pagination ========== //
// Color of the link in pagination
$pagination-link-color:      $font-minor-light !default; // XXX
$pagination-link-color-dark: $font-minor-dark !default; // XXX

// Color of the hover link in pagination
$pagination-link-hover-color:      $font-major-light !default; // XXX
$pagination-link-hover-color-dark: $font-major-dark !default; // XXX
// ========== Pagination ========== //

// ========== Code ========== //
// Color of the code
$code-color: #24292f !default;
$code-color-dark: #adbac7 !default;

// Color of the code background
$code-background-color: #f6f8fa !default;
$code-background-color-dark: #2d333b !default;

$code-error-color: #dc3545 !default;

// Color of the hightlight code
$code-hightlight-color: #fff8c5 !default;
$code-hightlight-color-dark: rgba(174, 124, 20, 0.15) !default;

$code-info-color: #9c9c9c !default;
$code-info-color-dark: #b1b0b0 !default;

// Font size of the code
$code-font-size: 0.875rem !default;

// Font family of the code
$code-font-family: Source Code Pro, Menlo, Consolas, Monaco, monospace, $global-font-family !default;
// ========== Code ========== //

// ========== GitHub Corners ========== //
// Color of the GitHub Corners
$github-corner-color: white !default;
$github-corner-color-dark: black !default;

// Color of the GitHub Corners background
$github-corner-fill: $header-background-color-dark !default;
$github-corner-fill-dark: $header-background-color !default;
// ========== GitHub Corners ========== //

@import '_partials/_maps/admonition';
@import '_partials/_maps/code-highlight';
@import '_partials/_maps/code-type';
@import '_partials/_maps/colors';
@import '_partials/_maps/utilities';
